<footer class="footer container">
  <nav>
    <ul class="link-list">
      <li class="link-list__item"><a href="{{site.baseurl}}/">Home</a></li>
      <li class="link-list__item"><a href="{{site.baseurl}}/about">Our Mission</a></li>
      <li class="link-list__item"><a href="{{site.baseurl}}/program">Program Overview</a></li>
      <li class="link-list__item"><a href="{{site.baseurl}}/donate">Get Involved</a></li>
    </ul>
  </nav>
  <img class="logo logo--gray logo--small" src="{{site.baseurl}}/assets/img/HOPE_logo-black.svg" alt="HOPE Leadership Academy Logo">
  <div class="logo-group">
    <img class="logo logo--smaller logo--gray" src="{{site.baseurl}}/assets/img/connect_web_logo.png" alt="Connect Web Logo">
    <img class="logo logo--smaller logo--gray" src="{{site.baseurl}}/assets/img/optimum_logo.png" alt="Optimum Logo">
  </div>
  <p class="sponsors">
    H.O.P.E. Leadership Academy is a proud partner of Optimist Clubs of Huntsville and Connect, a Leadership Huntsville/Madison County Program.
    <br>
    <a href="https://docs.google.com/presentation/d/1ofPCDTosn0_jcB4fvNgAv6hjNzvExPOeXxlrnitGe2c/pub?start=false&loop=false&delayms=3000&slide=id.p" target="_blank">
      View all Sponsors & Donors
    </a>
  </p>
  <p class="copyright">Copyright H.O.P.E. Leadership Academy 2015</p>
</footer>
