<footer class="footer container">
  <nav>
    <ul class="link-list">
      <li class="link-list__item"><a href="{{site.baseurl}}/">Home</a></li>
      <li class="link-list__item"><a href="{{site.baseurl}}/about">Our Mission</a></li>
      <li class="link-list__item"><a href="{{site.baseurl}}/program">Program Overview</a></li>
      <li class="link-list__item"><a href="{{site.baseurl}}/donate">Get Involved</a></li>
    </ul>
  </nav>
  <img class="logo -gray" src="{{site.baseurl}}/assets/img/HOPE_logo-black.svg" alt="HOPE Leadership Academy Logo">
  <p class="sponsors">
    H.O.P.E. Leadership Academy is a proud partner of Connect, a Leadership Huntsville/Madison County Program. Major sponsors of H.O.P.E. include Dr. Libby & Steve Parker.
  </p>
  <p class="copyright">Copyright H.O.P.E. Leadership Academy 2015</p>
</footer>
