<footer class="footer container">
  <div class="sponsors">
    <h2 class="heading">Our Sponsors</h2>
    <ul class="image-list">
      <li class="image-list__item">
        <img src="http://placehold.it/150x150">
      </li>
      <li class="image-list__item">
        <img src="http://placehold.it/150x150">
      </li>
      <li class="image-list__item">
        <img src="http://placehold.it/150x150">
      </li>
      <li class="image-list__item">
        <img src="http://placehold.it/150x150">
      </li>
    </ul>
  </div>
  <nav>
    <ul class="link-list">
      <li class="link-list__item"><a href="/">Home</a></li>
      <li class="link-list__item"><a href="/about">About</a></li>
      <li class="link-list__item"><a href="#">Program Overview</a></li>
      <li class="link-list__item"><a href="#">Get Involved</a></li>
    </ul>
  </nav>
  <img class="logo -gray" src="/assets/img/HOPE_logo-black.svg" alt="HOPE Leadership Academy Logo">
  <p class="copyright">Copyright H.O.P.E. Leadership Academy 2015</p>
</footer>
