<header class="header" style="background-image: url('../{{page.banner}}');">
  <div class="row">
    <div class="header__content half column">
      <img class="logo" src="assets/img/HOPE_logo.svg" alt="HOPE Leadership Academy Logo">
      <div class="banner">
        <img class="banner__img" src="{{ page.banner }}" alt="Page Banner">
      </div>
      <div class="container">
        <h1 class="title">
          {{page.title}}
        </h1>
        <p>{{page.intro}}</p>
      </div>
    </div>
  </div>
</header>
