/* 
Base 
*/
* + *{
	margin-top: $spacing-unit;
}

html{
	font-family: $font-default;
}

body{
	background: $bg-color;
	color: $text-color;
}

h1{
	font-size: 1.75em;
}

h2{
	font-size: 1.5em;
}

h3{
	font-size: 1em;
}

h4{
	font-size: .75em;
}

ul{
	list-style-type: none;
}

a{
	text-decoration: none;
	color: inherit;
	transition: all .3s ease;
	display: inline-block;

	&:hover,
	&:focus{
		color: darken($text-color, 15%);
	}
}

img{
	max-width: 100%;
}

input,
textarea,
select,
option,
button,
input[type="submit"]{
	transition: .3s ease;
	transition-property: background color opacity;
	border-radius: $border-radius;
	border: none;
}

legend{
	text-align: center;
	background: $light-gray;
	padding: .5em;
	border-radius: $border-radius;
}

fieldset{
	background: transparentize($light-gray, .9);
	padding: 1em;
	border: none;
	border-radius: $border-radius;
}

input,
textarea{
	width: 100%;
	max-width: 100%;
	padding: .5em 1em;
	opacity: .75;
	outline: none;
	border: 2px solid white;

		&:focus,
		&:active,
		&:hover{
			opacity: 1;
		}

		&:active,
		&:focus{
			border-color: $blue;
		}
}

input[type="radio"],
input[type="checkbox"]{
	width: auto;
}

button,
input[type="submit"]{
	font-family: $font-alt;
	font-style: italic;
	background: transparentize($dark-gray, .5);
	color: inherit;
	padding: .5em 1em;

	&:hover{
		background: transparentize($dark-gray, .75);
	}

	&:disabled{
		opacity: .5;
		cursor: default;
	}

	&.-dark{
		background: transparentize($text-color, .85);
		color: $text-color;
		&:hover{
			background: transparentize($text-color, .70);
		}
	}

	&.-light{
		background: transparentize($bg-color, .85);
		color: $bg-color;
		&:hover{
			background: transparentize($bg-color, .70);
		}
	}

	&.-outline{
		background: transparent;
		color: inherit;
		border: 2px solid;
	}
}

.logo{
	max-width: 12.5em;
	display: block;
	margin: 0 auto;
	text-align: center;
}

.title{
	font-family: $font-alt;
	font-style: italic;
	font-weight: normal;
	text-align: center;
	color: $blue;
}

.subtitle{
	text-align: center;
	margin-top: $spacing-unit/2;
	color: $dark-gray;
}

.subheading{
	font-family: $font-alt;
	font-style: italic;
	font-weight: normal;
	color: $light-gray;
	margin-top: $spacing-unit/4;
}

.muted{
	opacity: .5;
}

.blue-bg{
	background-color: $blue;
	color: $white;
}

.light-green-bg{
	background-color: $light-green;
}

.dark-green-bg{
	background-color: $dark-green;
	color: $white;
}
