/* 
Components
*/

.header{
	background-size: 0;
	@include media-query($laptop){
		background-size: cover;
		background-repeat: none;
		background-position: center right;
	}
}

.header__content{
	padding: 1.5em 0;
	background: linear-gradient(90deg, $bg-color 50%, transparentize($bg-color,1));

	@include media-query($laptop){
		>.container{
			width: 100%;
			max-width: 15em;
		}
	}
}

.banner{
	position: relative;
	&:after,
	&:before{
		display: block;
		content: '';
		position: absolute;
		width: 100%;
		height: 30%;
	}
	&:after{
		top:0;
		background: linear-gradient($white, transparentize($white,1));
	}
	&:before{
		bottom:0;
		background: linear-gradient(bottom,$white, transparentize($white,1));
	}

	@include media-query($laptop){
		display: none;
	}
}

.banner__img{
	display: block;
}

.link-list{
	margin: 0 auto;
	text-align: center;
	font-family: $font-alt;
	margin-bottom: 1em;
}

.link-list__item{
	margin-top: .5em;

	> a:hover{
		opacity: .5;
	}

	@include media-query($laptop){
		display: inline-block;
		margin-right: 2em;
		&:last-child{
			margin-right: 0;
		}
	}
}

.sponsors{
	> h2{
		text-align: center;
		margin-top: 1em;
	}
}

.image-list{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.image-list__item{
	display: inline-block;
	max-width: 5rem;
	max-height: 5rem;
	margin: 1em;
	border-radius: 100%;
	overflow: hidden;
}

.blue-bg{
	background-color: $blue;
	color: $white;

	> button, input[type="submit"], .button{
		background: transparentize($bg-color, .85);
		color: $bg-color;
		&:hover{
			background: transparentize($bg-color, .70);
		}
	}
}

.light-green-bg{
	background-color: $light-green;

	> button, input[type="submit"], .button{
		background: transparentize($text-color, .85);
		color: $text-color;
		&:hover{
			background: transparentize($text-color, .70);
		}
	}
}

.dark-green-bg{
	background-color: $dark-green;
	color: $white;

	> button, input[type="submit"], .button{
		background: transparentize($bg-color, .85);
		color: $bg-color;
		&:hover{
			background: transparentize($bg-color, .70);
		}
	}
}

.cta-list{
	text-align: center;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}

.cta-list__item{
	flex-basis: 20em;
	flex-grow: 1;
	font-size: .9em;
	line-height: $line-height;
	padding: 3em 2em;
	margin: 0;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

}



