/* 
Components
*/

.promo{
	width: 100%;
	padding: $spacing-unit 15%;
	margin: 0;
	background: $dark-green;
	color: $white;

	&__cta{
		font-family: $font-alt;
		margin-top: $spacing-unit/2;
		font-size: .75em;
		font-weight: 500;
		opacity: .7;

		&:hover{
			opacity: 1;
			color: inherit;
		}
	}
}

.header{
	margin-top: 0;
	background-size: 0;
	@include media-query($laptop){
		background-size: cover;
		background-repeat: none;
		background-position: center right;
	}
}

.header__content{
	padding: 1.5em 0;
	background: linear-gradient(90deg, $bg-color 50%, transparentize($bg-color,1));

	@include media-query($laptop){
		>.container{
			width: 100%;
			max-width: 15em;
		}
	}
}

.banner{
	position: relative;
	&:after,
	&:before{
		display: block;
		content: '';
		position: absolute;
		width: 100%;
		height: 30%;
	}
	&:after{
		top:0;
		background: linear-gradient($white, transparentize($white,1));
	}
	&:before{
		bottom:0;
		background: linear-gradient(bottom,$white, transparentize($white,1));
	}

	@include media-query($laptop){
		display: none;
	}
}

.banner__img{
	display: block;
}

.link-list{
	margin: 0 auto;
	text-align: center;
	font-family: $font-alt;
	margin-bottom: 1em;
}

.link-list__item{
	margin-top: .5em;

	> a:hover{
		opacity: .5;
	}

	@include media-query($laptop){
		display: inline-block;
		margin-right: 2em;
		&:last-child{
			margin-right: 0;
		}
	}
}

.link-list--interactive{
	@extend .link-list;
	text-align: left;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	font-size: .75em;
	-webkit-overflow-scrolling: touch;

	> .link-list__item{
		display: inline-block;
		margin-right: 1em;
		color: $light-gray;
		cursor: pointer;
		transition: color .3s ease;
	}

	> .link-list__item--active{
		@extend .link-list__item;
		color: $text-color;
	}
}

.sponsors{
	color: $dark-gray;
	text-align: center;
}

.image-list{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.image-list__item{
	margin: 1em 1em 0;
	overflow: hidden;
	text-align: center;
	max-width: 5em;

	> img{
		border-radius: 100%;
	}

	> p{
		font-size: .9em;
		line-height: 1.2em;
		margin-top: 0;
	}
}

.graph-list{
	margin-bottom: $spacing-unit;
	padding-bottom: $spacing-unit;
}

.graph-list__item{
	&:last-child{
		margin-bottom: 1em;
	}

	& figcaption{
		font-family: "Avenir";
		font-size: .75em;
		font-style: italic;
		text-align: center;
		line-height: 1.4em;
		color: $light-gray;
	}
}

.btn{
	&--small{
		font-size: .75em;
	}
	&--outline{
		background: none;
		border: .1em solid;
	}
}

.blue-bg{
	background-color: $blue;
	color: $white;

	> button, input[type="submit"], .button{
		background: transparentize($bg-color, .85);
		color: $bg-color;
		&:hover{
			background: transparentize($bg-color, .70);
		}
	}
}

.light-green-bg{
	background-color: $light-green;

	> button, input[type="submit"], .button{
		background: transparentize($text-color, .85);
		color: $text-color;
		&:hover{
			background: transparentize($text-color, .70);
		}
	}
}

.dark-green-bg{
	background-color: $dark-green;
	color: $white;

	> button, input[type="submit"], .button{
		background: transparentize($bg-color, .85);
		color: $bg-color;
		&:hover{
			background: transparentize($bg-color, .70);
		}
	}
}

.cta-list{
	margin-top: $spacing-unit*2;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
}
	header + .cta-list{
		margin-top: 0;
	}

.cta-list__item{
	flex-basis: 20em;
	flex-grow: 1;
	font-size: .9em;
	line-height: $line-height;
	padding: 3em 2em;
	margin: 0;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

}

.donation-list__item{
	padding: 1em;
	margin: 0;
	transition: background .3s ease;
	display: flex;
	flex-wrap: wrap;

	&:hover{
		background: #dfe4dd;
	}

	&:last-child{
		border-bottom: none;
	}

	> .info{
		flex: 1 0 55%;
		margin-right: 5%;
		> ul{
			list-style-type: circle;
			margin-left: 1em;
		}
		& li{
			margin-top: .25em;
		}
	}

	> .price{
		margin: auto 0;
		width: 9rem;
		font-family: $font-alt;
		font-style: italic;
		color: $dark-green;
		font-size: 2em;
		line-height: 2em;
		@include media-query($laptop){
			font-size: 2.5em;
			text-align: right;
		}
	}
}

.timeline{
	position: relative;
	margin-bottom: $spacing-unit;
	padding-bottom: $spacing-unit;

	&:after{
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		height: 100%;
		width: .5em;
		content: '';
		background: linear-gradient(to right, transparentize($white,1), $white);
		z-index: 1
	}
	&:before{
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		height: 100%;
		width: .5em;
		content: '';
		background: linear-gradient(to left, transparentize($white,1), $white);
		z-index: 1
	}
}

.quote{
	width: 85%;
	margin: 0 auto;

	@include media-query($tablet){
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		text-align: left;
		justify-content: space-around;

		&--reverse{
			flex-direction: row-reverse;
			> .quote__txt{
				margin-right: 1.5em;
				margin-left: 0;
			}
		}

		&__txt{
			margin-right: 0;
		}
	}

	&__img{
		width: 8rem;
		border-radius: 100%;
		overflow: hidden;
		margin: 1.5em auto;
		-webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);

		& > img,
		& > video{
			display: block;
		}

		& > video{
			max-width: 100%;

			&::-webkit-media-controls-start-playback-button {
				opacity: 0;
			}
		}
	}
}

.timeline__line{
	width: 100%;
	height: 2px;
	background: $light-gray;
	position: absolute;
	bottom: calc(1.5em - 2px);
	z-index: -1;
	margin-bottom: $spacing-unit;
}

.timeline-list{
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	z-index: 0;
	-webkit-overflow-scrolling: touch;
}

.timeline-list__item{
	display: inline-block;
	white-space: normal;
	width: 12.5em;
	margin: .5rem;
}

.timeline-list__item--year{
	@extend .timeline-list__item;
	width: auto;
	margin: 1em;
	font-weight: bold;
	color: $light-gray;
	position: relative;
}

.timeline__bubble{
	position: relative;
	padding: .5em;
	border-radius: .5em;

	&:after{
		position: absolute;
		bottom: -.5em;
		display: block;
		content: '';
		background: inherit;
		height: 1.5em;
		width: 1em;
		border-radius: 100%;
		z-index: -1;
	}
}

.timeline__icon{
	width: 2em;
	display: block;
}

.ytv{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	&__wrapper{
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
	}
}

.overlay{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255,255,255,.95);
	margin: 0;
	z-index: 100;
	overflow: auto;
	-webkit-overflow-scrolling : touch;

	& .container{
		height: 100%;
		margin: 1em auto;
		@include media-query($laptop){
			display: flex;
			justify-content: center;
			align-items: center;
		}

		& iframe{
			margin-top: 1em !important;
		}
	}
}
