---
layout: default

title: Donate Today
banner: "/assets/img/donate.jpg"
intro: "You can make a difference!  Donate today and help us expand this program and reach more students!  Your donation will help to provide transportation, materials, teachers, and service project funds for these young cadets.  We are extremely grateful for your donations and support."
---

<section class="container">
	<h2 class="heading">Sponsorship Levels</h2>
	<h4 class="subheading">6 ways you can support H.O.P.E. Click to donate</h4>
    <ul class="donation-list">
      {% for tier in site.data.tiers %}
      {% capture direction %}{% cycle '', 'quote--reverse' %}{% endcapture %}
        <li class="donation-list__item">
          <div class="info">
            <h2>{{ tier.title }}</h2>
            <p>{{ tier.text }}</p>
            <button class="dark-green-bg">Donate</button>
          </div>
          <span class="price">{{ tier.price }}</span>
        </li>
        <li class="quote {{direction}}">
          {% if tier.testimonial %}
            <div class="quote__img">
              <video autoplay loop muted poster="{{ site.baseurl }}/assets/img/students/{{ tier.testimonial.video }}.jpg">
                <source
                src="{{ site.baseurl }}/assets/vid/{{ tier.testimonial.video }}.mp4" type="video/mp4">
                <source
                src="{{ site.baseurl }}/assets/vid/{{ tier.testimonial.video }}.webm" type="video/webm">
              </video>
            </div>
            <blockquote class="quote__txt">
              <p>{{ tier.testimonial.text }}</p>
            </blockquote>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
</section>
<section class="overlay u-hidden" id="donationOverlay">
  <div class="container">
    <div>
      <h1>Donate to HOPE Leadership Academy</h1>
      <button class="btn--small btn--outline" id="noThanksBtn">No Thanks</button>
    </div>
    <script src="https://www.dntly.com/assets/js/v1/form.js"
            data-donately-id="act_db7809b55acf"
            data-stripe-publishable-key="pk_live_ahKAepi58DCsg9CnnuJsfFty"
            data-donately-campaign-id="3429"
            async>
    </script>
  </div>
</section>
<script type="text/javascript">
  window.onload = function(){
    console.log('load');
    var videos = document.querySelectorAll('video');
    // loop through videos to attach event listeners
    for (var i = 0; i < videos.length; i++) {
      videos[i].addEventListener('click', function(){
        // if muted...
        if(this.muted === true){
          // mute all videos
          for (var i = 0; i < videos.length; i++) {
            videos[i].muted = true;
          };
          // unmute
          this.muted = false;
        }else{
          // mute
          this.muted = true;
        }
      })
    };
    // overlay show/hide
    var overlay = document.querySelector('#donationOverlay'),
        tiers = document.querySelectorAll('.donation-list__item'),
        button = document.querySelector('#noThanksBtn');

    button.addEventListener('click', function(){
      overlay.classList.add('u-hidden');
    })

    for (var i = 0; i < tiers.length; i++) {
      tiers[i].addEventListener('click', function(){
        overlay.classList.remove('u-hidden');
      });
    };
  }
</script>
