---
layout: default

title: Get Involved
banner: "/assets/img/home-banner.jpg"
intro: "YOU CAN MAKE A DIFFERENCE!  Donate today and help us expand this program and reach more students!  Your donation will help to provide transportation, materials, teachers, and service project funds for these young cadets.  We are extremely grateful for your donations and support."

primary:
    text: "Donate Now"
    link: "#"

secondary:
    text: "Play Video"
    link: "#"
---

<section class="container">
	<h2 class="heading">Sponsorship Levels</h2>
	<h4 class="subheading">6 ways you can support H.O.P.E. Click to donate</h4>
    <ul class="donation-list">
      {% for tier in site.data.tiers %}
      {% capture direction %}{% cycle '', 'quote--reverse' %}{% endcapture %}
        <li class="donation-list__item">
          <div class="info">
            <h2>{{ tier.title }}</h2>
            <p>{{ tier.text }}</p>
          </div>
          <span class="price">{{ tier.price }}</span>
        </li>
        <li class="quote {{direction}}">
          {% if tier.testimonial %}
            <div class="quote__img">
              <video autoplay loop muted poster="{{ site.baseurl }}/assets/img/students/{{ tier.testimonial.video }}.jpg">
                <source 
                src="{{ site.baseurl }}/assets/vid/{{ tier.testimonial.video }}.mp4" type="video/mp4">
                <source 
                src="{{ site.baseurl }}/assets/vid/{{ tier.testimonial.video }}.webm" type="video/webm">
              </video>
            </div>
            <blockquote class="quote__txt">
              <p>{{ tier.testimonial.text }}</p>
            </blockquote>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
</section>
<script type="text/javascript">
  window.onload = function(){
    var videos = document.querySelectorAll('video');
    // loop through videos to attach event listeners
    for (var i = 0; i < videos.length; i++) {
      videos[i].addEventListener('click', function(){
        // if muted...
        if(this.muted === true){
          // mute all videos
          for (var i = 0; i < videos.length; i++) {
            videos[i].muted = true;
          };
          // unmute
          this.muted = false;
        }else{
          // mute
          this.muted = true;
        }
      })
    };
  }
</script>