---
layout: default

title: Program Overview
banner: "/assets/img/home-banner.jpg"
intro: "H.O.P.E. Leadership Academy is a three-year program that incorporates Posner & Kouzes’s Five Practices of Exemplary Leadership, Covey’s 7 Habits of Highly Effective Teens, as well as writing, iMovie production, public speaking, creative arts, collaboration, and research techniques."
---

<section>
	<div class="container">
	    <h2 class="heading">Program Timeline</h2>
	    <h4 class="subheading">Scroll or select a year to navigate the timeline</h4>
	    <ul class="link-list--interactive" id="timeline-links">
	      <li class="link-list__item link-list__item--active" id="year1">Year 1</li>
	      <li class="link-list__item" id="year2">Year 2</li>
	      <li class="link-list__item" id="year3">Year 3</li>
	    </ul>
	</div>
    <div class="timeline">
      <ul class="timeline-list">
        {% for year in site.data.program %}
          <li class="timeline-list__item--year" id="year{{ year.year }}">
            <p>Year {{ year.year }}</p>
            <em>{{ year.title }}</em>
          </li>
          {% for m in year.milestones %}
            {% capture theCycle %}{% cycle 'blue-bg', 'light-green-bg', 'dark-green-bg' %}{% endcapture %}
            <li class="timeline-list__item">
              <p class="timeline__bubble {{ theCycle }}">
                {{ m.text }}
              </p>
              <img class="timeline__icon" src="{{site.baseurl}}/assets/img/timeline-icon.png">
            </li>
          {% endfor %}
        {% endfor %}
      </ul>
      <div class="timeline__line"></div>
</section>
<ul class="cta-list">
	<li class="cta-list__item dark-green-bg">
		<h2>Get Involved</h2>
		<p>Improve graduation rates by sponsoring students and teachers in our program.</p>
		<a class="button" href="{{site.baseurl}}/donate">Learn More</a>
	</li>
</ul>

<script>
  var timelineLinks = document.querySelector("#timeline-links").querySelectorAll(".link-list__item"),
      timeline = document.querySelector(".timeline-list"),
      years = document.querySelectorAll(".timeline-list__item--year");

  for (var i = 0; i < timelineLinks.length; i++) {
    timelineLinks[i].addEventListener("click", function(){
      for (var i = 0; i < years.length; i++) {
        if(years[i].id == this.id){
          if(years[i].id == "year1"){
            timeline.scrollLeft = 0;
          }
          else{
            timeline.scrollLeft = years[i].offsetLeft - 20;
          }
        }
      }
      for (var i = 0; i < timelineLinks.length; i++) {
        if(timelineLinks[i].id == this.id){
          this.classList.add('link-list__item--active');
        }else{
          timelineLinks[i].classList.remove('link-list__item--active');
        }
      };
    });
  };
</script>